.Band {
    width: 50%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: row  row-reverse column  column-reverse;
  }
.Band 
  .Content > img {
    width: 100%;
    height: auto;
  }

.Band .Band-title {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }